{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">
						Title
					</th>
					<th scope="col">
						Author
					</th>
					<th scope="col">
						Editorial
					</th>
				</tr>
			</thead>
			<tbody>
				{% for libro in libros %}
					<tr>
						<td>
							<b>
								{{ libro.titulo }}
							</b>
						</td>
						<td>
							{% for author in libro.autores %}
								<p>
									{{ author.nombre }}
								</p>
							{% endfor %}
						</td>
						<td>
							{{ libro.editorial.nombre }}
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>

{% endblock %}
